name: Release

on:
  push:

permissions:
  contents: write


jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 21 ]
      fail-fast: true

    steps:
      - name: Checkout Git Repository
        uses: actions/checkout@v6

      - name: JDK ${{ matrix.java }}
        uses: actions/setup-java@v4.7.1
        with:
          java-version: ${{ matrix.java }}
          cache: 'gradle'
          distribution: 'temurin'
      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v4
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew clean build
      - name: Upload Release Assets
        uses: softprops/action-gh-release@v2.0.9
        if: github.ref_type == 'tag'
        with:
          files: |
            build/libs/*.jar
